{
 "openapi": "3.0.1",
 "info": {
  "title": "Connectwise Manage Public Endpoints (GET subset)",
  "version": "2026.4"
 },
 "servers": [
  {
   "url": "https://na.myconnectwise.net/v4_6_release/apis/3.0"
  }
 ],
 "paths": {
  "/company/companies": {
   "get": {
    "tags": [
     "Companies"
    ],
    "summary": "Get List of ConnectWise.Apis.v3_0.v2015_3.Company.Company.Company",
    "operationId": "getCompanyCompanies",
    "parameters": [
     {
      "name": "conditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "childConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "customFieldConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "orderBy",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "fields",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageSize",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageId",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "clientId",
      "in": "header",
      "description": "",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "List of ConnectWise.Apis.v3_0.v2015_3.Company.Company.Company",
      "content": {
       "application/vnd.connectwise.com+json; version=2026.4": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/Company"
         }
        }
       }
      }
     }
    }
   }
  },
  "/company/companies/{id}": {
   "get": {
    "tags": [
     "Companies"
    ],
    "summary": "Get ConnectWise.Apis.v3_0.v2015_3.Company.Company.Company",
    "operationId": "getCompanyCompaniesById",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "companyId",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "conditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "childConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "customFieldConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "orderBy",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "fields",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageSize",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageId",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "clientId",
      "in": "header",
      "description": "",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "ConnectWise.Apis.v3_0.v2015_3.Company.Company.Company",
      "content": {
       "application/vnd.connectwise.com+json; version=2026.4": {
        "schema": {
         "$ref": "#/components/schemas/Company"
        }
       }
      }
     }
    }
   }
  },
  "/company/companies/{id}/usages": {
   "get": {
    "tags": [
     "Companies"
    ],
    "summary": "Get List of Usage Count",
    "operationId": "getCompanyCompaniesByIdUsages",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "companyId",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "conditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "childConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "customFieldConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "orderBy",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "fields",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageSize",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageId",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "clientId",
      "in": "header",
      "description": "",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "List of Usage",
      "content": {
       "application/vnd.connectwise.com+json; version=2026.4": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/Usage"
         }
        }
       }
      }
     }
    }
   }
  },
  "/company/companies/{id}/usages/list": {
   "get": {
    "tags": [
     "Companies"
    ],
    "summary": "Get List of Usage",
    "operationId": "getCompanyCompaniesByIdUsagesList",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "companyId",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "conditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "childConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "customFieldConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "orderBy",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "fields",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageSize",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageId",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "clientId",
      "in": "header",
      "description": "",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "List of Usage",
      "content": {
       "application/vnd.connectwise.com+json; version=2026.4": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/Usage"
         }
        }
       }
      }
     }
    }
   }
  },
  "/company/companies/{parentId}/customStatusNotes": {
   "get": {
    "tags": [
     "CompanyCustomNotes"
    ],
    "summary": "Get List of CompanyCustomNote",
    "operationId": "getCompanyCompaniesByParentIdCustomStatusNotes",
    "parameters": [
     {
      "name": "parentId",
      "in": "path",
      "description": "companyId",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "conditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "childConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "customFieldConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "orderBy",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "fields",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageSize",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageId",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "clientId",
      "in": "header",
      "description": "",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "List of CompanyCustomNote",
      "content": {
       "application/vnd.connectwise.com+json; version=2026.4": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/CompanyCustomNote"
         }
        }
       }
      }
     }
    }
   }
  },
  "/company/companies/{parentId}/customStatusNotes/{id}": {
   "get": {
    "tags": [
     "CompanyCustomNotes"
    ],
    "summary": "Get CompanyCustomNote",
    "operationId": "getCompanyCompaniesByParentIdCustomStatusNotesById",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "customStatusNoteId",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "parentId",
      "in": "path",
      "description": "companyId",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "conditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "childConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "customFieldConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "orderBy",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "fields",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageSize",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageId",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "clientId",
      "in": "header",
      "description": "",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "CompanyCustomNote",
      "content": {
       "application/vnd.connectwise.com+json; version=2026.4": {
        "schema": {
         "$ref": "#/components/schemas/CompanyCustomNote"
        }
       }
      }
     }
    }
   }
  },
  "/company/companies/{parentId}/customStatusNotes/count": {
   "get": {
    "tags": [
     "CompanyCustomNotes"
    ],
    "summary": "Get Count of CompanyCustomNote",
    "operationId": "getCompanyCompaniesByParentIdCustomStatusNotesCount",
    "parameters": [
     {
      "name": "parentId",
      "in": "path",
      "description": "companyId",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "conditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "childConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "customFieldConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "orderBy",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "fields",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageSize",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageId",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "clientId",
      "in": "header",
      "description": "",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Count",
      "content": {
       "application/vnd.connectwise.com+json; version=2026.4": {
        "schema": {
         "$ref": "#/components/schemas/Count"
        }
       }
      }
     }
    }
   }
  },
  "/company/companies/{parentId}/groups": {
   "get": {
    "tags": [
     "CompanyGroups"
    ],
    "summary": "Get List of CompanyGroup",
    "operationId": "getCompanyCompaniesByParentIdGroups",
    "parameters": [
     {
      "name": "parentId",
      "in": "path",
      "description": "companyId",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "conditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "childConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "customFieldConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "orderBy",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "fields",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageSize",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageId",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "clientId",
      "in": "header",
      "description": "",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "List of CompanyGroup",
      "content": {
       "application/vnd.connectwise.com+json; version=2026.4": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/CompanyGroup"
         }
        }
       }
      }
     }
    }
   }
  },
  "/company/companies/{parentId}/groups/{id}": {
   "get": {
    "tags": [
     "CompanyGroups"
    ],
    "summary": "Get CompanyGroup",
    "operationId": "getCompanyCompaniesByParentIdGroupsById",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "groupId",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "parentId",
      "in": "path",
      "description": "companyId",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "conditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "childConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "customFieldConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "orderBy",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "fields",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageSize",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageId",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "clientId",
      "in": "header",
      "description": "",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "CompanyGroup",
      "content": {
       "application/vnd.connectwise.com+json; version=2026.4": {
        "schema": {
         "$ref": "#/components/schemas/CompanyGroup"
        }
       }
      }
     }
    }
   }
  },
  "/company/companies/{parentId}/groups/count": {
   "get": {
    "tags": [
     "CompanyGroups"
    ],
    "summary": "Get Count of CompanyGroup",
    "operationId": "getCompanyCompaniesByParentIdGroupsCount",
    "parameters": [
     {
      "name": "parentId",
      "in": "path",
      "description": "companyId",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "conditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "childConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "customFieldConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "orderBy",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "fields",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageSize",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageId",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "clientId",
      "in": "header",
      "description": "",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Count",
      "content": {
       "application/vnd.connectwise.com+json; version=2026.4": {
        "schema": {
         "$ref": "#/components/schemas/Count"
        }
       }
      }
     }
    }
   }
  },
  "/company/companies/{parentId}/notes": {
   "get": {
    "tags": [
     "CompanyNotes"
    ],
    "summary": "Get List of CompanyNote",
    "operationId": "getCompanyCompaniesByParentIdNotes",
    "parameters": [
     {
      "name": "parentId",
      "in": "path",
      "description": "companyId",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "conditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "childConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "customFieldConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "orderBy",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "fields",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageSize",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageId",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "clientId",
      "in": "header",
      "description": "",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "List of CompanyNote",
      "content": {
       "application/vnd.connectwise.com+json; version=2026.4": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/CompanyNote"
         }
        }
       }
      }
     }
    }
   }
  },
  "/company/companies/{parentId}/notes/{id}": {
   "get": {
    "tags": [
     "CompanyNotes"
    ],
    "summary": "Get CompanyNote",
    "operationId": "getCompanyCompaniesByParentIdNotesById",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "noteId",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "parentId",
      "in": "path",
      "description": "companyId",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "conditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "childConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "customFieldConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "orderBy",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "fields",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageSize",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageId",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "clientId",
      "in": "header",
      "description": "",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "CompanyNote",
      "content": {
       "application/vnd.connectwise.com+json; version=2026.4": {
        "schema": {
         "$ref": "#/components/schemas/CompanyNote"
        }
       }
      }
     }
    }
   }
  },
  "/company/companies/{parentId}/notes/count": {
   "get": {
    "tags": [
     "CompanyNotes"
    ],
    "summary": "Get Count of CompanyNote",
    "operationId": "getCompanyCompaniesByParentIdNotesCount",
    "parameters": [
     {
      "name": "parentId",
      "in": "path",
      "description": "companyId",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "conditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "childConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "customFieldConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "orderBy",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "fields",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageSize",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageId",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "clientId",
      "in": "header",
      "description": "",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Count",
      "content": {
       "application/vnd.connectwise.com+json; version=2026.4": {
        "schema": {
         "$ref": "#/components/schemas/Count"
        }
       }
      }
     }
    }
   }
  },
  "/company/companies/{parentId}/sites": {
   "get": {
    "tags": [
     "CompanySites"
    ],
    "summary": "Get List of CompanySite",
    "operationId": "getCompanyCompaniesByParentIdSites",
    "parameters": [
     {
      "name": "parentId",
      "in": "path",
      "description": "companyId",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "conditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "childConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "customFieldConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "orderBy",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "fields",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageSize",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageId",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "clientId",
      "in": "header",
      "description": "",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "List of CompanySite",
      "content": {
       "application/vnd.connectwise.com+json; version=2026.4": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/CompanySite"
         }
        }
       }
      }
     }
    }
   }
  },
  "/company/companies/{parentId}/sites/{id}": {
   "get": {
    "tags": [
     "CompanySites"
    ],
    "summary": "Get CompanySite",
    "operationId": "getCompanyCompaniesByParentIdSitesById",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "siteId",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "parentId",
      "in": "path",
      "description": "companyId",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "conditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "childConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "customFieldConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "orderBy",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "fields",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageSize",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageId",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "clientId",
      "in": "header",
      "description": "",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "CompanySite",
      "content": {
       "application/vnd.connectwise.com+json; version=2026.4": {
        "schema": {
         "$ref": "#/components/schemas/CompanySite"
        }
       }
      }
     }
    }
   }
  },
  "/company/companies/{parentId}/sites/{id}/usages": {
   "get": {
    "tags": [
     "CompanySites"
    ],
    "summary": "Get List of Usage Count",
    "operationId": "getCompanyCompaniesByParentIdSitesByIdUsages",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "siteId",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "parentId",
      "in": "path",
      "description": "companyId",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "conditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "childConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "customFieldConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "orderBy",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "fields",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageSize",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageId",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "clientId",
      "in": "header",
      "description": "",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "List of Usage",
      "content": {
       "application/vnd.connectwise.com+json; version=2026.4": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/Usage"
         }
        }
       }
      }
     }
    }
   }
  },
  "/company/companies/{parentId}/sites/{id}/usages/list": {
   "get": {
    "tags": [
     "CompanySites"
    ],
    "summary": "Get List of Usage",
    "operationId": "getCompanyCompaniesByParentIdSitesByIdUsagesList",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "siteId",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "parentId",
      "in": "path",
      "description": "companyId",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "conditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "childConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "customFieldConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "orderBy",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "fields",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageSize",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageId",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "clientId",
      "in": "header",
      "description": "",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "List of Usage",
      "content": {
       "application/vnd.connectwise.com+json; version=2026.4": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/Usage"
         }
        }
       }
      }
     }
    }
   }
  },
  "/company/companies/{parentId}/sites/count": {
   "get": {
    "tags": [
     "CompanySites"
    ],
    "summary": "Get Count of CompanySite",
    "operationId": "getCompanyCompaniesByParentIdSitesCount",
    "parameters": [
     {
      "name": "parentId",
      "in": "path",
      "description": "companyId",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "conditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "childConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "customFieldConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "orderBy",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "fields",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageSize",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageId",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "clientId",
      "in": "header",
      "description": "",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Count",
      "content": {
       "application/vnd.connectwise.com+json; version=2026.4": {
        "schema": {
         "$ref": "#/components/schemas/Count"
        }
       }
      }
     }
    }
   }
  },
  "/company/companies/count": {
   "get": {
    "tags": [
     "Companies"
    ],
    "summary": "Get Count of ConnectWise.Apis.v3_0.v2015_3.Company.Company.Company",
    "operationId": "getCompanyCompaniesCount",
    "parameters": [
     {
      "name": "conditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "childConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "customFieldConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "orderBy",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "fields",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageSize",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageId",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "clientId",
      "in": "header",
      "description": "",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Count",
      "content": {
       "application/vnd.connectwise.com+json; version=2026.4": {
        "schema": {
         "$ref": "#/components/schemas/Count"
        }
       }
      }
     }
    }
   }
  },
  "/company/companies/default": {
   "get": {
    "tags": [
     "Companies"
    ],
    "summary": "Get ConnectWise.Apis.v3_0.v2015_3.Company.Company.Company",
    "operationId": "getCompanyCompaniesDefault",
    "parameters": [
     {
      "name": "conditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "childConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "customFieldConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "orderBy",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "fields",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageSize",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageId",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "clientId",
      "in": "header",
      "description": "",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "ConnectWise.Apis.v3_0.v2015_3.Company.Company.Company",
      "content": {
       "application/vnd.connectwise.com+json; version=2026.4": {
        "schema": {
         "$ref": "#/components/schemas/Company"
        }
       }
      }
     }
    }
   }
  },
  "/company/companies/info/types": {
   "get": {
    "tags": [
     "CompanyTypeInfos"
    ],
    "summary": "Get List of CompanyTypeInfo",
    "operationId": "getCompanyCompaniesInfoTypes",
    "parameters": [
     {
      "name": "conditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "childConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "customFieldConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "orderBy",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "fields",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageSize",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageId",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "clientId",
      "in": "header",
      "description": "",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "List of CompanyTypeInfo",
      "content": {
       "application/vnd.connectwise.com+json; version=2026.4": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/CompanyTypeInfo"
         }
        }
       }
      }
     }
    }
   }
  },
  "/company/companies/info/types/{id}": {
   "get": {
    "tags": [
     "CompanyTypeInfos"
    ],
    "summary": "Get CompanyTypeInfo",
    "operationId": "getCompanyCompaniesInfoTypesById",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "typeId",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "conditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "childConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "customFieldConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "orderBy",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "fields",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageSize",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageId",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "clientId",
      "in": "header",
      "description": "",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "CompanyTypeInfo",
      "content": {
       "application/vnd.connectwise.com+json; version=2026.4": {
        "schema": {
         "$ref": "#/components/schemas/CompanyTypeInfo"
        }
       }
      }
     }
    }
   }
  },
  "/company/companies/info/types/count": {
   "get": {
    "tags": [
     "CompanyTypeInfos"
    ],
    "summary": "Get Count of CompanyTypeInfo",
    "operationId": "getCompanyCompaniesInfoTypesCount",
    "parameters": [
     {
      "name": "conditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "childConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "customFieldConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "orderBy",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "fields",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageSize",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageId",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "clientId",
      "in": "header",
      "description": "",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Count",
      "content": {
       "application/vnd.connectwise.com+json; version=2026.4": {
        "schema": {
         "$ref": "#/components/schemas/Count"
        }
       }
      }
     }
    }
   }
  },
  "/company/companies/statuses": {
   "get": {
    "tags": [
     "CompanyStatuses"
    ],
    "summary": "Get List of CompanyStatus",
    "operationId": "getCompanyCompaniesStatuses",
    "parameters": [
     {
      "name": "conditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "childConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "customFieldConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "orderBy",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "fields",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageSize",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageId",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "clientId",
      "in": "header",
      "description": "",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "List of CompanyStatus",
      "content": {
       "application/vnd.connectwise.com+json; version=2026.4": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/CompanyStatus"
         }
        }
       }
      }
     }
    }
   }
  },
  "/company/companies/statuses/{id}": {
   "get": {
    "tags": [
     "CompanyStatuses"
    ],
    "summary": "Get CompanyStatus",
    "operationId": "getCompanyCompaniesStatusesById",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "statusId",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "conditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "childConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "customFieldConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "orderBy",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "fields",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageSize",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageId",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "clientId",
      "in": "header",
      "description": "",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "CompanyStatus",
      "content": {
       "application/vnd.connectwise.com+json; version=2026.4": {
        "schema": {
         "$ref": "#/components/schemas/CompanyStatus"
        }
       }
      }
     }
    }
   }
  },
  "/company/companies/statuses/{id}/usages": {
   "get": {
    "tags": [
     "CompanyStatuses"
    ],
    "summary": "Get List of Usage Count",
    "operationId": "getCompanyCompaniesStatusesByIdUsages",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "statusId",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "conditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "childConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "customFieldConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "orderBy",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "fields",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageSize",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageId",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "clientId",
      "in": "header",
      "description": "",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "List of Usage",
      "content": {
       "application/vnd.connectwise.com+json; version=2026.4": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/Usage"
         }
        }
       }
      }
     }
    }
   }
  },
  "/company/companies/statuses/{id}/usages/list": {
   "get": {
    "tags": [
     "CompanyStatuses"
    ],
    "summary": "Get List of Usage",
    "operationId": "getCompanyCompaniesStatusesByIdUsagesList",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "statusId",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "conditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "childConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "customFieldConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "orderBy",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "fields",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageSize",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageId",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "clientId",
      "in": "header",
      "description": "",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "List of Usage",
      "content": {
       "application/vnd.connectwise.com+json; version=2026.4": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/Usage"
         }
        }
       }
      }
     }
    }
   }
  },
  "/company/companies/statuses/count": {
   "get": {
    "tags": [
     "CompanyStatuses"
    ],
    "summary": "Get Count of CompanyStatus",
    "operationId": "getCompanyCompaniesStatusesCount",
    "parameters": [
     {
      "name": "conditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "childConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "customFieldConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "orderBy",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "fields",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageSize",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageId",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "clientId",
      "in": "header",
      "description": "",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Count",
      "content": {
       "application/vnd.connectwise.com+json; version=2026.4": {
        "schema": {
         "$ref": "#/components/schemas/Count"
        }
       }
      }
     }
    }
   }
  },
  "/company/companies/types": {
   "get": {
    "tags": [
     "CompanyTypes"
    ],
    "summary": "Get List of CompanyType",
    "operationId": "getCompanyCompaniesTypes",
    "parameters": [
     {
      "name": "conditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "childConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "customFieldConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "orderBy",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "fields",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageSize",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageId",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "clientId",
      "in": "header",
      "description": "",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "List of CompanyType",
      "content": {
       "application/vnd.connectwise.com+json; version=2026.4": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/CompanyType"
         }
        }
       }
      }
     }
    }
   }
  },
  "/company/companies/types/{id}": {
   "get": {
    "tags": [
     "CompanyTypes"
    ],
    "summary": "Get CompanyType",
    "operationId": "getCompanyCompaniesTypesById",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "typeId",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "conditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "childConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "customFieldConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "orderBy",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "fields",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageSize",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageId",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "clientId",
      "in": "header",
      "description": "",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "CompanyType",
      "content": {
       "application/vnd.connectwise.com+json; version=2026.4": {
        "schema": {
         "$ref": "#/components/schemas/CompanyType"
        }
       }
      }
     }
    }
   }
  },
  "/company/companies/types/{id}/usages": {
   "get": {
    "tags": [
     "CompanyTypes"
    ],
    "summary": "Get List of Usage Count",
    "operationId": "getCompanyCompaniesTypesByIdUsages",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "typeId",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "conditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "childConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "customFieldConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "orderBy",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "fields",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageSize",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageId",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "clientId",
      "in": "header",
      "description": "",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "List of Usage",
      "content": {
       "application/vnd.connectwise.com+json; version=2026.4": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/Usage"
         }
        }
       }
      }
     }
    }
   }
  },
  "/company/companies/types/{id}/usages/list": {
   "get": {
    "tags": [
     "CompanyTypes"
    ],
    "summary": "Get List of Usage",
    "operationId": "getCompanyCompaniesTypesByIdUsagesList",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "typeId",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "conditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "childConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "customFieldConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "orderBy",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "fields",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageSize",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageId",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "clientId",
      "in": "header",
      "description": "",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "List of Usage",
      "content": {
       "application/vnd.connectwise.com+json; version=2026.4": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/Usage"
         }
        }
       }
      }
     }
    }
   }
  },
  "/company/companies/types/count": {
   "get": {
    "tags": [
     "CompanyTypes"
    ],
    "summary": "Get Count of CompanyType",
    "operationId": "getCompanyCompaniesTypesCount",
    "parameters": [
     {
      "name": "conditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "childConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "customFieldConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "orderBy",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "fields",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageSize",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageId",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "clientId",
      "in": "header",
      "description": "",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Count",
      "content": {
       "application/vnd.connectwise.com+json; version=2026.4": {
        "schema": {
         "$ref": "#/components/schemas/Count"
        }
       }
      }
     }
    }
   }
  },
  "/company/contact/types/{id}/usages/list": {
   "get": {
    "tags": [
     "Contact Types"
    ],
    "summary": "Get List of Usage",
    "operationId": "getCompanyContactTypesByIdUsagesList",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "typeId",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "conditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "childConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "customFieldConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "orderBy",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "fields",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageSize",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageId",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "clientId",
      "in": "header",
      "description": "",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "List of Usage",
      "content": {
       "application/vnd.connectwise.com+json; version=2026.4": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/Usage"
         }
        }
       }
      }
     }
    }
   }
  },
  "/company/contacts": {
   "get": {
    "tags": [
     "Contacts"
    ],
    "summary": "Get List of ApiContact",
    "operationId": "getCompanyContacts",
    "parameters": [
     {
      "name": "conditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "childConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "customFieldConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "orderBy",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "fields",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageSize",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageId",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "clientId",
      "in": "header",
      "description": "",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "List of ApiContact",
      "content": {
       "application/vnd.connectwise.com+json; version=2026.4": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/Contact"
         }
        }
       }
      }
     }
    }
   }
  },
  "/company/contacts/{id}": {
   "get": {
    "tags": [
     "Contacts"
    ],
    "summary": "Get ApiContact",
    "operationId": "getCompanyContactsById",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "contactId",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "conditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "childConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "customFieldConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "orderBy",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "fields",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageSize",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageId",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "clientId",
      "in": "header",
      "description": "",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "ApiContact",
      "content": {
       "application/vnd.connectwise.com+json; version=2026.4": {
        "schema": {
         "$ref": "#/components/schemas/Contact"
        }
       }
      }
     }
    }
   }
  },
  "/company/contacts/{id}/image": {
   "get": {
    "tags": [
     "Contacts"
    ],
    "summary": "Get ValidatePortalResponse",
    "operationId": "getCompanyContactsByIdImage",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "contactId",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "conditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "childConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "customFieldConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "orderBy",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "fields",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageSize",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageId",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "clientId",
      "in": "header",
      "description": "",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "useDefaultFlag",
      "in": "path",
      "description": "useDefaultFlag",
      "required": true,
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "lastModified",
      "in": "path",
      "description": "lastModified",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "ContentType = application/octet-stream"
     }
    }
   }
  },
  "/company/contacts/{id}/portalSecurity": {
   "get": {
    "tags": [
     "Contacts"
    ],
    "summary": "Get List of PortalSecurity",
    "operationId": "getCompanyContactsByIdPortalSecurity",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "contactId",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "conditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "childConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "customFieldConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "orderBy",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "fields",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageSize",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageId",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "clientId",
      "in": "header",
      "description": "",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "List of PortalSecurity",
      "content": {
       "application/vnd.connectwise.com+json; version=2026.4": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/PortalSecurity"
         }
        }
       }
      }
     }
    }
   }
  },
  "/company/contacts/{id}/usages": {
   "get": {
    "tags": [
     "Contacts"
    ],
    "summary": "Get List of Usage Count",
    "operationId": "getCompanyContactsByIdUsages",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "contactId",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "conditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "childConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "customFieldConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "orderBy",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "fields",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageSize",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageId",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "clientId",
      "in": "header",
      "description": "",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "List of Usage",
      "content": {
       "application/vnd.connectwise.com+json; version=2026.4": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/Usage"
         }
        }
       }
      }
     }
    }
   }
  },
  "/company/contacts/{id}/usages/list": {
   "get": {
    "tags": [
     "Contacts"
    ],
    "summary": "Get List of Usage",
    "operationId": "getCompanyContactsByIdUsagesList",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "contactId",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "conditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "childConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "customFieldConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "orderBy",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "fields",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageSize",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageId",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "clientId",
      "in": "header",
      "description": "",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "List of Usage",
      "content": {
       "application/vnd.connectwise.com+json; version=2026.4": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/Usage"
         }
        }
       }
      }
     }
    }
   }
  },
  "/company/contacts/{parentId}/groups": {
   "get": {
    "tags": [
     "ContactGroups"
    ],
    "summary": "Get List of ContactGroup",
    "operationId": "getCompanyContactsByParentIdGroups",
    "parameters": [
     {
      "name": "parentId",
      "in": "path",
      "description": "contactId",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "conditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "childConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "customFieldConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "orderBy",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "fields",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageSize",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageId",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "clientId",
      "in": "header",
      "description": "",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "List of ContactGroup",
      "content": {
       "application/vnd.connectwise.com+json; version=2026.4": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/ContactGroup"
         }
        }
       }
      }
     }
    }
   }
  },
  "/company/contacts/{parentId}/groups/{id}": {
   "get": {
    "tags": [
     "ContactGroups"
    ],
    "summary": "Get ContactGroup",
    "operationId": "getCompanyContactsByParentIdGroupsById",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "groupId",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "parentId",
      "in": "path",
      "description": "contactId",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "conditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "childConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "customFieldConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "orderBy",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "fields",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageSize",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageId",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "clientId",
      "in": "header",
      "description": "",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "ContactGroup",
      "content": {
       "application/vnd.connectwise.com+json; version=2026.4": {
        "schema": {
         "$ref": "#/components/schemas/ContactGroup"
        }
       }
      }
     }
    }
   }
  },
  "/company/contacts/{parentId}/groups/count": {
   "get": {
    "tags": [
     "ContactGroups"
    ],
    "summary": "Get Count of ContactGroup",
    "operationId": "getCompanyContactsByParentIdGroupsCount",
    "parameters": [
     {
      "name": "parentId",
      "in": "path",
      "description": "contactId",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "conditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "childConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "customFieldConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "orderBy",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "fields",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageSize",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageId",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "clientId",
      "in": "header",
      "description": "",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Count",
      "content": {
       "application/vnd.connectwise.com+json; version=2026.4": {
        "schema": {
         "$ref": "#/components/schemas/Count"
        }
       }
      }
     }
    }
   }
  },
  "/company/contacts/{parentId}/notes": {
   "get": {
    "tags": [
     "ContactNotes"
    ],
    "summary": "Get List of ContactNote",
    "operationId": "getCompanyContactsByParentIdNotes",
    "parameters": [
     {
      "name": "parentId",
      "in": "path",
      "description": "contactId",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "conditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "childConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "customFieldConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "orderBy",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "fields",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageSize",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageId",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "clientId",
      "in": "header",
      "description": "",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "List of ContactNote",
      "content": {
       "application/vnd.connectwise.com+json; version=2026.4": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/ContactNote"
         }
        }
       }
      }
     }
    }
   }
  },
  "/company/contacts/{parentId}/notes/{id}": {
   "get": {
    "tags": [
     "ContactNotes"
    ],
    "summary": "Get ContactNote",
    "operationId": "getCompanyContactsByParentIdNotesById",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "noteId",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "parentId",
      "in": "path",
      "description": "contactId",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "conditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "childConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "customFieldConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "orderBy",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "fields",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageSize",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageId",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "clientId",
      "in": "header",
      "description": "",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "ContactNote",
      "content": {
       "application/vnd.connectwise.com+json; version=2026.4": {
        "schema": {
         "$ref": "#/components/schemas/ContactNote"
        }
       }
      }
     }
    }
   }
  },
  "/company/contacts/{parentId}/notes/count": {
   "get": {
    "tags": [
     "ContactNotes"
    ],
    "summary": "Get Count of ContactNote",
    "operationId": "getCompanyContactsByParentIdNotesCount",
    "parameters": [
     {
      "name": "parentId",
      "in": "path",
      "description": "contactId",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "conditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "childConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "customFieldConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "orderBy",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "fields",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageSize",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageId",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "clientId",
      "in": "header",
      "description": "",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Count",
      "content": {
       "application/vnd.connectwise.com+json; version=2026.4": {
        "schema": {
         "$ref": "#/components/schemas/Count"
        }
       }
      }
     }
    }
   }
  },
  "/company/contacts/count": {
   "get": {
    "tags": [
     "Contacts"
    ],
    "summary": "Get Count of Usage",
    "operationId": "getCompanyContactsCount",
    "parameters": [
     {
      "name": "conditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "childConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "customFieldConditions",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "orderBy",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "fields",
      "in": "query",
      "description": "",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "",
      "schema": {
       "type": "integer",
       "format": "int32",
       "nullable": true
      }
     },
     {
      "name": "pageSize",
[...]
